USE [master]
GO
/****** Object:  Database [HomeLess]    Script Date: 12/17/2018 11:35:18 AM ******/
CREATE DATABASE [HomeLess]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeLess', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HomeLess.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HomeLess_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HomeLess_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeLess].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeLess]
GO
/****** Object:  Table [dbo].[AbotutUs]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbotutUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Fb] [nvarchar](50) NULL,
	[Twitter] [nvarchar](50) NULL,
	[Instgram] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_AbotutUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AytamPlaces]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AytamPlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mobile] [nvarchar](50) NULL,
	[Website] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CityId] [int] NULL,
	[Mail] [nvarchar](50) NULL,
	[Photos] [nvarchar](max) NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_AytamPlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contactus]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageContent] [nvarchar](max) NULL,
	[Mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Contactus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topics]    Script Date: 12/17/2018 11:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicAddress] [nvarchar](50) NULL,
	[TopicContent] [nvarchar](max) NULL,
	[IsClosed] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[HouseAddress] [nvarchar](max) NULL,
	[MobileUserName] [nvarchar](50) NULL,
	[AnotherMobilePhone] [nvarchar](50) NULL,
	[ResonOfAbsense] [nvarchar](max) NULL,
	[Photos] [nvarchar](max) NULL,
	[MainPhoto] [nvarchar](max) NULL,
	[AbsenceDate] [date] NULL,
	[CategoryId] [int] NULL,
	[CityId] [int] NULL,
	[LostName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AbotutUs] ON 

INSERT [dbo].[AbotutUs] ([Id], [Name], [Fb], [Twitter], [Instgram], [Mobile], [Description], [Photo]) VALUES (1, N'Mohamed', N'sdfsd', N'fs', N'dsfs', N'(100) 002-3924', N'fsfsd', N'AbotutUs/00000/00000001_hy2nr4j7e6m5g.jpg')
INSERT [dbo].[AbotutUs] ([Id], [Name], [Fb], [Twitter], [Instgram], [Mobile], [Description], [Photo]) VALUES (2, N'Mohamed', N'fb.com', N'twitter.com', N'instgram.com', N'(100) 392-4342', N'asdsa', N'AbotutUs/00000/00000002_xcfvcew4wbfqu.jpg')
INSERT [dbo].[AbotutUs] ([Id], [Name], [Fb], [Twitter], [Instgram], [Mobile], [Description], [Photo]) VALUES (3, N'asdasdasdas', N'dsfsdf .sdfs', N'dsfsd.sd fsd', N'sdafa;asfasfa.s', N'(103) 925-4234', N'sdafsdfsdxczvz zxczx cdsf sdfsdgsdgsdg s dg sdgfsdf', N'AbotutUs/00000/00000003_wkvuv4ibvroc6.jpg')
SET IDENTITY_INSERT [dbo].[AbotutUs] OFF
SET IDENTITY_INSERT [dbo].[AytamPlaces] ON 

INSERT [dbo].[AytamPlaces] ([Id], [Mobile], [Website], [Description], [CityId], [Mail], [Photos], [Name]) VALUES (1, N'012031231', N'weqs.com', N'adasda', 2, N'dsa@fa.ca', N'[{"Filename":"AytamPlaces/00000/00000001_hx45ik6vcxdlk.jpg","OriginalName":"folder.jpg"},{"Filename":"AytamPlaces/00000/00000001_urgalvyzzwajc.jpg","OriginalName":"WWW.YIFY-TORRENTS.COM.jpg"}]', N'دار فرحة للايتام')
SET IDENTITY_INSERT [dbo].[AytamPlaces] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Description], [Photo]) VALUES (3, N'المفقودين', NULL, N'Category/00000/00000003_zjzt2gibhbzbk.jpg')
INSERT [dbo].[Category] ([Id], [Name], [Description], [Photo]) VALUES (4, N'المعثور عليهم', NULL, N'Category/00000/00000004_2mnwbdj2jlwjs.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [CountryId]) VALUES (1, N'كفرالشيخ', 1)
INSERT [dbo].[City] ([Id], [Name], [CountryId]) VALUES (2, N'المنصورة', 1)
INSERT [dbo].[City] ([Id], [Name], [CountryId]) VALUES (3, N'المحلة', 1)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Contactus] ON 

INSERT [dbo].[Contactus] ([Id], [MessageContent], [Mail]) VALUES (2, N'sadas', N'qasdas@asfa.ca')
SET IDENTITY_INSERT [dbo].[Contactus] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name], [Photo]) VALUES (1, N'مصر', N'Country/00000/00000001_mtpl7c7v5i4gc.jpg')
INSERT [dbo].[Country] ([Id], [Name], [Photo]) VALUES (2, N'الجزائر', N'Country/00000/00000002_pvcooyxb6f2cc.jpg')
INSERT [dbo].[Country] ([Id], [Name], [Photo]) VALUES (3, N'ليبيا', N'Country/00000/00000003_xlgfmqk4evcsq.jpg')
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

SET IDENTITY_INSERT [dbo].[Topics] OFF
ALTER TABLE [dbo].[AytamPlaces]  WITH CHECK ADD  CONSTRAINT [FK_AytamPlaces_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[AytamPlaces] CHECK CONSTRAINT [FK_AytamPlaces_City]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Category]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_City]
GO
USE [master]
GO
