{
    "RootNamespace": "Homeless",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.; Initial Catalog=Homeless_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "HomeLess",
            "ConnectionString": "Data Source=.; Initial Catalog=Homeless; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.AbotutUs",
                    "Identifier": "AbotutUs",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Category",
                    "Identifier": "Category",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.City",
                    "Identifier": "City",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Contactus",
                    "Identifier": "Contactus",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Country",
                    "Identifier": "Country",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.sysdiagrams",
                    "Identifier": "Sysdiagrams",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Topics",
                    "Identifier": "Topics",
                    "Module": "HomeLess",
                    "ConnectionKey": "HomeLess",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=.; Initial Catalog=Homeless_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Homeless\\Homeless.Web\\Homeless.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}