@model List<Topic>
<section class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h4>@ViewBag.Category.Name</h4>
            </div>
            @foreach (var item in Model)
            {
            <div class="col-md-6">
                <a href="/Home/GetLostTopic/@item.Id">
                    <img src="http://localhost:24548/upload/@item.MainPhoto" style="width:90%;height:235px;border-radius:100%;" />
                </a>
                <p class="project-ca" style="margin-right:31%"> @item.LostName - @item.City.Name</p>
                <p class="project-ca" style="margin-right:31%"> @item.AbsenceDate</p>
            </div>
            } 
        </div>
    </div>
</section>
