@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.HomeLess.AbotutUs.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Homeless.HomeLess.AbotutUsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>